{% extends 'Base.html' %}

{% block principal %}




    <h2>Listado de Citas</h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
                <tr class="table-light">
                     <th scope="col">Fecha</th>
                     <th scope="col">Hora</th>
                     <th scope="col">Descripcion</th>
                     <th scope="col">Paciente</th>
                     <th scope="col">Profesional</th>     
                </tr>
        </thead>
        <tbody>
                {% for cita in object_list  %}
                    <tr class="table-secondary">
                        <td>{{ cita.Fecha }} </td>
                        <td>{{ cita.Hora }}</td>
                        <td>{{ cita.Descripcion }}</td>
                        <td>{{ cita.Paciente }}</td>
                        <td>{{ cita.Profesional }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
    
    
{% endblock %}